{include file="public/header" /}



<div class="page">
    <table class="ds-default-table">
        <tbody>
            <tr>
                <td class="w120"><label>{$Think.lang.admin_predeposit_cs_sn}:</label></td>
                <td class="vatop rowform">{$info.pdc_sn}</td>
                <td class="vatop tips"></td>
            </tr>
            <tr>
                <td class="w120"><label>{$Think.lang.admin_predeposit_membername}:</label></td>
                <td class="vatop rowform">{$info.pdc_member_name}</td>
                <td class="vatop tips"></td>
            </tr>
            <tr>
                <td class="w120"><label>{$Think.lang.admin_predeposit_cash_price}:</label></td>
                <td class="vatop rowform">{$info.pdc_amount}&nbsp;{$Think.lang.currency_zh}</td>
                <td class="vatop tips"></td>
            </tr>
            <tr>
                <td class="w120"><label>{$Think.lang.admin_predeposit_cash_shoukuanbank}:</label></td>
                <td class="vatop rowform">{$info.pdc_bank_name}</td>
                <td class="vatop tips"></td>
            </tr>
            <tr>
                <td class="w120"><label>{$Think.lang.admin_predeposit_cash_shoukuanaccount}:</label></td>
                <td class="vatop rowform">{$info.pdc_bank_no}</td>
                <td class="vatop tips"></td>
            </tr>
            <tr>
                <td class="w120"><label>{$Think.lang.admin_predeposit_cash_shoukuanname}:</label></td>
                <td class="vatop rowform">{$info.pdc_bank_user}</td>
                <td class="vatop tips"></td>
            </tr>
            {notempty name="$info.pdc_payment_time"}
            <tr>
                <td class="w120"><label>{$Think.lang.admin_predeposit_paytime}:</label></td>
                <td class="vatop rowform">{$info.pdc_payment_time|date='Y-m-d H:i:s'}
                    ( {$Think.lang.admin_predeposit_adminname}: {$info.pdc_payment_admin} ) </td>
                <td class="vatop tips"></td>
            </tr>
            {/notempty}
            
            {if $info.pdc_payment_state eq '0'}
            <form method="post" id="form1" action="{:url('Predeposit/pdcash_pay',['id'=>$info.pdc_id])}">
                <tr>
                    <td class="w120"><label>交易订单号:</label></td>
                    <td class="vatop rowform"><input type="text" class="w300" name="pdc_trade_sn" id="pdc_trade_sn"></td>
                    <td class="vatop tips"></td>
                </tr>
                <td colspan="2">
                    <input type="submit" value="手动转款" class="btn">
                    {if $info.if_pdcash_pay_auto}
                    <a class="btn" href="javascript:ds_get_confirm('{$Think.lang.admin_predeposit_cash_confirm}','{:url('Predeposit/pdcash_pay_auto',['id'=>$info.pdc_id])}')"><span>系统自动付款</span></a>
                    {/if}
                </td>
            </form>
            {else /}
            <tr>
                <td class="w120"><label>交易订单号:</label></td>
                <td class="vatop rowform">{$info.pdc_trade_sn}</td>
                <td class="vatop tips"></td>
            </tr>
            {/if}
            
        </tbody>
    </table>
</div>

