{include file="public/header" /}





<div class="page">
    <form method="post" id='form1'>
            <table class="ds-default-table">
                <tbody>
                    <tr class="noborder"> 
                        <td class="required w120">{$Think.lang.refund_order_refund}</td>
                        <td>{:ds_price_format($refund['refund_amount'])}</td>
                        <td class="vatop tips"></td>
                    </tr>
                    <tr class="noborder"> 
                        <td class="required w120">商品名称</td>
                        <td>{$refund.goods_name}</td>
			<td class="vatop tips"></td>
                    </tr>
                    <tr class="noborder"> 
                        <td class="required w120">{$Think.lang.refund_buyer_message}</td>
                        <td>{$refund.reason_info}</td>
			<td class="vatop tips"></td>
                    </tr>
                    <tr class="noborder"> 
                        <td class="required w120">退款说明</td>
                        <td class="vatop rowform">{$refund.refundreturn_buyer_message}</td>
			<td class="vatop tips"></td>
                    </tr>
                    <tr class="noborder"> 
                        <td class="required w120">凭证上传</td>
                        <td class="vatop rowform">
                            {notempty name="pic_list"}
                            {foreach name="pic_list" item="val" key="key" }
                            {notempty name="val"}
                            <a href="{:ds_get_pic(ATTACH_PATH.'/refund',$val)}" data-lightbox="lightbox-image">
                                <img width="64" height="64" class="show_image" src="{:ds_get_pic(ATTACH_PATH.'/refund',$val)}">
                            </a>
                            {/notempty}
                            {/foreach}
                            {/notempty}
                        </td>
                        <td class="vatop tips"></td>
                    </tr>
                    <tr class="noborder"> 
                        <td class="required w120">{$Think.lang.refund_seller_message}</td>
                        <td class="vatop rowform">{$refund.refundreturn_seller_message}</td>
			<td class="vatop tips"></td>
                    </tr>
                <tr class="noborder">
                    <td class="required"><label class="validation">{$Think.lang.refund_state}{$Think.lang.ds_colon}</label>
                    </td>
                    <td class="vatop rowform onoff">
                        <label for="state1" class="cb-enable" title="{$Think.lang.ds_yes}"><span>{$Think.lang.ds_yes}</span></label>
                        <label for="state0" class="cb-disable" title="{$Think.lang.ds_no}"><span>{$Think.lang.ds_no}</span></label>
                        <input id="state1" name="refundreturn_admin_state"  value="3" type="radio">
                               <input id="state0" name="refundreturn_admin_state" value="4" type="radio">
                    </td>
                    <td class="vatop tips"></td>
                </tr>
                    <tr class="noborder"> 
                        <td class="required w120">{$Think.lang.refund_message}</td>
                        <td class="vatop rowform"><textarea id="refundreturn_admin_message" name="refundreturn_admin_message" class="tarea"></textarea></td>
			<td class="vatop tips"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="tfoot">
                        <td></td>
                        <td colspan="15">{:token_field()}<input class="btn" onclick="submitForm()" type='button' value="确认提交"/></td>
                    </tr>					
                </tfoot>
            </table>
    </form>
</div>

<link rel="stylesheet" href="{$Think.PLUGINS_SITE_ROOT}/js/jquery.lightbox/css/lightbox.min.css">
<script src="{$Think.PLUGINS_SITE_ROOT}/js/jquery.lightbox/js/lightbox.min.js"></script>
<script type="text/javascript">
    var can_submit=true
    function submitForm(){
        if(!can_submit){
            return
        }
        can_submit=false
        $('#form1').submit()
    }
    $(function() {
        $('#post_form').validate({
            errorPlacement: function(error, element) {
                error.appendTo(element.parent().parent().prev().find('td:first'));
            },
            rules: {
                refundreturn_admin_message: {
                    required: true
                }
            },
            messages: {
                refundreturn_admin_message: {
                    required   : '{$Think.lang.refund_message_null}'
                }
            }
        });
    });
</script>