<link rel="stylesheet" href="{$Think.HOME_SITE_ROOT}/css/member.css">
<script src="{$Think.HOME_SITE_ROOT}/js/member.js"></script>
<link rel="stylesheet" href="{$Think.PLUGINS_SITE_ROOT}/js/jquery-ui/jquery-ui.min.css">

<div class="mall_nav">
    <div class="w1200">
        <div class="logo"><a href="{$Think.HOME_SITE_URL}"><img src="{:ds_get_pic(ATTACH_COMMON,$Think.config.ds_config.site_logo)}"/></a></div>
        <div class="nav_list">
            <ul class="site_menu">
                <li><a href="{:url('Index/index')}" class="current">{$Think.lang.homepage}</a></li>
                {foreach $navs.middle as $nav}
                <li><a href="{$nav.nav_url}" {if $nav.nav_new_open == 1}target="_blank"{/if}>{$nav.nav_title}</a></li>
                {/foreach}
            </ul>
        </div>
    </div>
</div>





<!--面包屑导航 BEGIN-->
{notempty name="nav_link_list"}
<div class="dsh-breadcrumb-layout">
    <div class="dsh-breadcrumb w1200"><i class="iconfont">&#xe6ff;</i>
        {foreach $nav_link_list as $nav_link} 
        {empty name="nav_link.link"}
        <span>{$nav_link.title}</span>
        {else /}
        <span><a href="{$nav_link.link}">{$nav_link.title}</a></span><span class="arrow">></span>
        {/empty}
        {/foreach}
    </div>
</div>
{/notempty}
<!--面包屑导航 END-->
