{include file="public/header" /}





<div class="page">

        <form id="o2o_distributor_form" method="post" name="form1" enctype="multipart/form-data">
            <table class="ds-default-table">
                <tbody>
               
                <tr class="noborder">
                    <td class="required w120"><label class="validation">消息:</label></td>
                    <td class="vatop rowform"><textarea name='content'></textarea></td>
                    <td class="vatop tips"></td>
                </tr>
               
                
                </tbody>
                <tfoot>
                <tr class="tfoot">
                    <td colspan="15" ><input class="btn" type="submit" value="{$Think.lang.ds_submit}"/></td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>